.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;

}

.box {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.05);
}

.users {
    background: linear-gradient(135deg, #00a8ff, #0062ff);
    color: white;
}

.listings {
    background: linear-gradient(135deg, #f39c12, #ff6b6b);
    color: white;
}

.queries {
    background: linear-gradient(135deg, #50c878, #007bff);
    color: white;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    overflow: scroll;
    
  }
  
  /* Styles for the popup */
  .popup {
    background: #fff; /* White background for the popup */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for the popup */
    width: 90%;
    height: 90%;
    max-width: 100%; /* Set a max width */
  }
  .popup-content, .user-management {
    height: 100%;
  }