/* EmployeeManagement.css */

.user-management {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .delete-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-right: 4px;
    cursor: pointer;
  }
  
  .update-btn {
    background-color: #4d94ff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .delete-btn:hover,
  .update-btn:hover {
    opacity: 0.8;
  }

  /* EmployeeManagement.css */
/* Add or modify styles for the modal */
.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Display the modal when the 'display-block' class is applied */
.modal.display-block {
    display: block;
}

/* Styles for the modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

  