/* ListingsManagement.css */

.popup-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup {
    width: 100%; /* Adjust the width of the pop-up */
    max-height: 80%;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.listings-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.listings-table th,
.listings-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.delete-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-right: 4px;
    cursor: pointer;
}

.update-btn {
    background-color: #4d94ff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.delete-btn:hover,
.update-btn:hover {
    opacity: 0.8;
}
